In [4]:
from quant_port import mcport, mlnsupport

import yfinance as yf

In [6]:
sym = ['BOVA11.SA','PRIO3.SA', 'PETR3.SA', 'CASH3.SA', 'POSI3.SA', 'MRFG3.SA', "JBSS3.SA", 'ITUB4.SA','VALE3.SA']

In [7]:
da = yf.download(sym,period='1y')['Close']

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  9 of 9 completed

In [8]:
da

Ticker,BOVA11.SA,CASH3.SA,ITUB4.SA,JBSS3.SA,MRFG3.SA,PETR3.SA,POSI3.SA,PRIO3.SA,VALE3.SA
Date,,,,,,,,,
2024-03-18,123.050003,3.339802,31.859118,21.312143,8.526697,30.572388,7.827231,47.759998,56.046478
2024-03-19,123.730003,3.272161,31.905046,21.358194,8.552405,30.233433,8.247230,49.209999,56.506630
2024-03-20,125.449997,3.255250,31.969355,21.395035,8.595254,30.861744,8.132685,47.450001,56.883953
2024-03-21,124.370003,3.280616,31.638638,21.358194,8.826632,30.233433,8.323593,47.099998,56.745907
2024-03-22,123.209999,3.242568,31.196230,21.229252,8.243902,30.473183,8.399956,46.689999,56.092491
...,...,...,...,...,...,...,...,...,...
2025-03-11,120.550003,3.520000,32.599998,32.110001,14.570000,36.580002,5.180000,37.160000,54.439999
2025-03-12,120.739998,3.520000,32.700001,33.000000,15.030000,36.709999,5.140000,36.880001,53.759998
2025-03-13,122.510002,3.600000,33.230000,32.970001,14.940000,36.970001,5.070000,36.500000,54.500000
2025-03-14,125.750000,3.570000,34.310001,33.230000,15.260000,38.410000,5.380000,39.349998,56.290001
2025-03-17,127.760002,3.590000,35.340000,32.750000,14.810000,39.299999,5.490000,39.700001,57.099998

In [9]:

r = mlnsupport(da, nret_ = 5, list_clust_ = [3,4,5])

Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'JBSS3.SA', 'ITUB4.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'JBSS3.SA', 'ITUB4.SA', 'CASH3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'JBSS3.SA', 'ITUB4.SA', 'CASH3.SA', 'POSI3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'JBSS3.SA', 'ITUB4.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'JBSS3.SA', 'ITUB4.SA', 'CASH3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'JBSS3.SA', 'ITUB4.SA', 'POSI3.SA', 'CASH3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'PETR3.SA', 'CASH3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'PETR3.SA', 'POSI3.SA', 'CASH3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'ITUB4.SA', 'POSI3.SA', 'CASH3.SA', 'JBSS3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'PETR3.SA', 'CASH3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'PETR3.SA', 'POSI3.SA', 'CASH3.SA']
Ativos com Melhor Relação em Cada Cluster: ['MRFG3.SA', 'ITUB4.SA', 'POSI3.SA', 'CASH3.SA', 'PETR3.SA']

In [10]:
r

      ATIVO  FREQ
0  MRFG3.SA    12
1  CASH3.SA    10
2  ITUB4.SA     8
3  JBSS3.SA     7
4  POSI3.SA     6
5  PETR3.SA     5

In [11]:
type(r)

pandas.core.frame.DataFrame

In [12]:
r2 = mcport(da, ret = 5, n_sim_mc = 1200, tam_port_ = 4)

Tam Port = 4, retorno = 5, Tivermos 111 portfólios acima do IBOV de um total de 1200

In [13]:
r2

{'saldo': 111,
 'JBSS3.SA': 60,
 'PETR3.SA': 59,
 'MRFG3.SA': 58,
 'VALE3.SA': 57,
 'POSI3.SA': 57,
 'CASH3.SA': 53,
 'PRIO3.SA': 51,
 'ITUB4.SA': 49}